body { background: #dd1976; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 56px; display: flex; }
.block-product-0 { color: #3111cb; font-size: 15px; margin-bottom: 5px; }
.block-cart-1 { color: #dc760e; font-size: 20px; margin-bottom: 5px; }
.block-filter-2 { color: #b2021c; font-size: 19px; margin-bottom: 5px; }
.block-cart-3 { color: #759383; font-size: 21px; margin-bottom: 5px; }
.block-product-4 { color: #ada810; font-size: 21px; margin-bottom: 5px; }